* {
  margin: 0;
  padding: 0;
  box-sizing: bore;
}



body {
  background-image: linear-gradient(to right bottom, #421bcf, #0066f5, #008ef2, #abc4ca, #00c8c3, #273937, #48d9b6, #63e0ad, #53dbb3, #43d6b8, #8d34d1, #253ecc);
  height: 100%;
  
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  width: 50%;
  height: 60vh;
  border: none;
  border-radius: 16px;
  background: rgba(128, 128, 128, 0.5);
  z-index: 10;
  box-shadow: 5px 5px 5px 0px;
}

form {
  padding: 8% 20%;
}

input {
  display: block;
  width: 100%;
  padding: 16px 10px;
  border: none;
  border-radius: 8px;
  margin-bottom: 2%;
  outline: none;
  transition: all 1s;
}

input:focus {
  background: #00c8c3;
  color: #fff;
}

input:focus::placeholder {
  color: #fff;
}

input::placeholder {
  font-size: 1rem;
  color: #00aeda;
}

.submit {
  width: auto;
  padding: 10px 20px;
  font-size: 20px;
  margin-left: 40%;
  margin-top: 50px;
  background: #369cfe;
  color: #fff;
  transition: all 1s;
}

.submit:hover {
  background: indianred;
}

.submit:active {
  background: purple;
}

.row {
  background: #fff;
  margin-bottom: 10px;
}

